<section class="form-container">
    {{#> FormAuth}}
        <h1 class="form__title">{{title}}</h1>
        <div class="form__wrapper">
            <div class="form__inputs">
                {{> Input label="Почта" type="email" placeholder="Почта" name="email" }}
                {{> Input label="Логин" type="text" placeholder="Логин" name="login" }}
                {{> Input label="Имя" type="text" placeholder="Имя" name="first_name" }}
                {{> Input label="Фамилия" type="text" placeholder="Фамилия" name="second_name" }}
                {{> Input label="Телефон" type="tel" placeholder="Телефон" name="phone" }}
                {{> Input label="Пароль" type="password" placeholder="Пароль" name="password"}}
                {{> Input label="Пароль (еще раз)" type="password" placeholder="Пароль" error="Пароли не совпадают" name="password-again"}}
            </div>
            <div class="form__buttons">
                {{> Button label="Зарегистрироваться"}}
                {{> RedirectLink page="login" href="#" label="Войти"}}
            </div>
        </div>
    {{/FormAuth}}
</section>

