@import "src/styles/variables.scss";

.messages-block {
  &__header-menu {
    padding: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    padding-top: 11px;
    padding-bottom: 6px;
    border-bottom: 1px solid $light-grey-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: white;
    z-index: 10;
  }

  &__header-info {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__header-name {
    font-size: 13px;
    font-weight: 600;
  }
}



