<div class="messages-block__header">
    <div class="messages-block__header-info">
        <img src="assets/profile.svg" alt="profile">
        <p class="messages-block__header-name">{{name}}</p>
    </div>
    <img class="messages-block__header-menu" src="assets/menu.svg" alt="menu">

    <!--    remove comment to see menuButtons-->
<!--    <div class="messages-block__menu-buttons">-->
<!--        {{#each menuButtons}}-->
<!--            {{> ButtonChip menuButton=menuButton }}-->
<!--        {{/each}}-->
<!--    </div>-->
</div>



