<ul class="profile__block-buttons">
    <li class="profile__block-button profile__block-button_purple">Изменить данные</li>
    <li class="profile__block-button profile__block-button_purple">Изменить пароль</li>
    <li class="profile__block-button profile__block-button_red">Выйти</li>
</ul>



