.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 30px 30px 30px;
    box-shadow: 0 0 6px 0 #00000024;
    border-radius: 12px;
    min-height: 460px;
    min-width: 340px;

    &__title {
    margin: 0 0 57px 0;
    font-size: 20px;
    }
}

