<div class="message-field-wrapper">
    <img src="../../../static/images/paperclip.svg" alt="paper-clip">
    <div class="message-field">
        <input name="message" id="message" class="message-field__input" placeholder="Введите сообщение">
        <button class="message-field__input-button">
            <img src="../../../static/images/paper-plane.svg" alt="paper-plane">
        </button>
    </div>
</div>

