<div class="message-field-wrapper">
    <button>
        <img src="../../../static/images/paperclip.svg" alt="paper-clip">
    </button>
    <div class="message-field">
        <input name="message" id="message" class="message-field__input" placeholder="Введите сообщение">
        <button class="message-field__input-button">
            <img src="../../../static/images/paper-plane.svg" alt="paper-plane">
        </button>
    </div>

    <!--    remove comment to see attachButtons-->
<!--    <div class="messages-block__attach-buttons">-->
<!--        {{#each attachButtons}}-->
<!--            {{> ButtonChip attachButton=attachButtons }}-->
<!--        {{/each}}-->
<!--    </div>-->
</div>

