<section class="profile-page">
    <div class="profile-page__go-back">
        <button>
            <img page="chats" src="assets/go-back.svg" alt="go-back">
        </button>
    </div>
    <div class="profile">
        {{#if (isEditingMode mode)}}
            <div>
                <div class="profile__image-block">
                    <img class="profile__image profile__image_editing-mode" src="assets/profile.svg" alt="profile">
                    <span class="profile__image-mask">
                        <button class="profile__image-button"></button>
                    </span>
                </div>
            </div>
            <div class="profile__form">
                {{#each formInputs}}
                    {{> ProfileInput formInput=formInput}}
                {{/each}}
            </div>
            {{> Button label="Сохранить"}}
<!--            {{#> ModalWindow  title="Загрузить файл" label="Поменять"}}-->
<!--&lt;!&ndash;                <p class="modal-window__file-name">pic.1</p>&ndash;&gt;-->
<!--                <div>-->
<!--                    <span class="modal-window__input-file-wrapper">-->
<!--                    Выбрать файл на компьютере-->
<!--                    <input name="avatar" id="avatar" class="modal-window__input-file" type="file" placeholder="Выбрать файл на компьютере">-->
<!--                </span>-->
<!--                    <span class="modal-window__error">Нужно выбрать файл</span>-->
<!--                </div>-->
<!--            {{/ModalWindow}}-->
        {{/if}}

        {{#if (isPasswordEditingMode mode)}}
            <img class="profile__image" src="assets/profile.svg" alt="profile">
            <div class="profile__form">
                {{#each passwordInputs}}
                    {{> ProfileInput formInput=passwordInput}}
                {{/each}}
            </div>
            {{> Button label="Сохранить"}}
        {{/if}}

        {{#if (isViewMode mode)}}
            <img class="profile__image" src="assets/profile.svg" alt="profile">
            <p class="profile__title">{{title}}</p>
            <div class="profile__form">
                {{#each formInputs}}
                    {{> ProfileInputView formInput=formInput}}
                {{/each}}
            </div>
            {{> ProfileButtonsBlock}}
        {{/if}}
    </div>
</section>
