$red-color: #FF2F2F;
$grey-color: #999;
$light-grey-color: #EAEAEA;
$extra-light-grey-color: #F8F8F8;
$purple-color: #615EF0;
$dark-purple-color: #5552DC;
$blue-color: #3369F3;
$white-color: white;


