<div class="search-field-containter">
    <input
            class="search-field"
            name={{name}}
            id={{name}}
            type="search"
    >
<!--    remove comments below to see search-field placeholder-->

<!--    <div class="search-field__placeholder">-->
<!--        <img src="../../../static/images/search-icon.svg" alt="search-icon">-->
<!--        <p>Найти</p>-->
<!--    </div>-->
</div>
