<div class="search-field-containter">
    <input
            class="search-field"
            name={{name}}
            id={{name}}
            type="search"
            value={{value}}
    >
    {{#if (isEmpty value)}}
        <div class="search-field__placeholder">
            <img src="../../../static/images/search-icon.svg" alt="search-icon">
            <p>Найти</p>
        </div>
    {{/if}}
</div>
