<div class="modal-window-wrapper">
    <div class="modal-window">
        <button class="modal-window__cross">
            <img src="assets/cross.svg" alt="cross">
        </button>
        <h2 class="modal-window__title">{{title}}</h2>
        {{> @partial-block }}
        {{> Button label=label}}
    </div>
</div>

