<section class="chats">
    {{#> ChatsBlock}}
        <a class="chats__link" href="#">
            <p class="chats__link-text">Профиль</p>
            <img class="chats__link-icon" src="../../../static/images/arrow-icon.svg" alt="arrow">
        </a>
<!--        set value to hide placeholder-->
        {{> SearchField value="" name="search-field"}}
        <ul class="chats__list">
            {{#each chats}}
                {{> ChatCard chat=this }}
            {{/each}}
        </ul>
    {{/ChatsBlock}}
</section>