<section class="chats">
    {{#> ChatsBlock}}
        <div class="chats__header">
            <a class="chats__link" href="#">
                <p class="chats__link-text" page="profile">Профиль</p>
                <img class="chats__link-icon" src="../../../static/images/arrow-icon.svg" alt="arrow">
            </a>
            <!--        set value to hide placeholder-->
            {{> SearchField value="" name="search-field"}}
        </div>

        <ul class="chats__list">
            {{#each chats}}
                {{> ChatCard chat=chat }}
            {{/each}}
        </ul>
    {{/ChatsBlock}}

<!--    comment out message block to see EmptyBlock-->
    <div class="messages-block">
        {{> MessagesHeader name="Лиля" menuButtons=menuButtons}}
        <div class="messages-block__wrapper">
            <p class="messages-block__time-data">19 июня</p>
            <ul class="messages">
                {{#each messages}}
                    {{> Message message=message }}
                {{/each}}
            </ul>
        </div>

        {{> MessageField attachButtons=attachButtons}}

<!--        remove comment to see modal window-->
<!--        {{#> ModalWindow  title="Добавить пользователя" label="Добавить"}}-->
<!--            {{> Input label="Логин" type="text" placeholder="Логин" name="login" }}-->
<!--        {{/ModalWindow}}-->
    </div>

<!--    {{#>EmptyBlock text="Выберите чат, чтобы отправить сообщение"}}-->
<!--        {{> ErrorLink}}-->
<!--    {{/EmptyBlock}}-->
</section>