<section class="chats">
    {{#> ChatsBlock}}
        <div class="chats__header">
            <a class="chats__link" href="#">
                <p class="chats__link-text" page="profile">Профиль</p>
                <img class="chats__link-icon" src="../../../static/images/arrow-icon.svg" alt="arrow">
            </a>
            <!--        set value to hide placeholder-->
            {{> SearchField value="" name="search-field"}}
        </div>

        <ul class="chats__list">
            {{#each chats}}
                {{> ChatCard chat=chat }}
            {{/each}}
        </ul>
    {{/ChatsBlock}}

<!--    comment out message block to see EmptyBlock-->
    <div class="messages-block">
        {{> MessagesHeader name="Лиля" menuButtons=menuButtons}}
        <ul class="messages">
            {{#each messages}}
                {{> Message message=message }}
            {{/each}}
        </ul>
        {{> MessageField attachButtons=attachButtons}}
    </div>

<!--    {{#>EmptyBlock text="Выберите чат, чтобы отправить сообщение"}}-->
<!--        {{> ErrorLink}}-->
<!--    {{/EmptyBlock}}-->
</section>