@import "../../styles/variables";

.chats {
  flex-grow: 1;

  &__list {
    margin: 0;
  }

  &__link {
    font-size: 12px;
    color: $grey-color;
    display: flex;
    margin-bottom: 23px;
    margin-right: 10px;
  }

  &__link-text {
    margin-left: auto;
  }

  &__link-icon {
    margin-left: 4px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}